.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.sra-toolbar *{
	color: white;
}

#bar_search {
	margin: 0 0 0 20px;
	min-width: 70%;
	padding-top: 20px;
/* 	background-color: white; */
/* 	padding: 10px; */
}

#bar_search .md-errors-spacer {
	display: none;
}

#bar_search * {
	color: white;
}


main-container .ng-enter {
	transition: all linear 0.5s;
	opacity: 0;
}
main-container .ng-enter-active {
	opacity: 1;
}

main-container .ng-leave {
	transition: all linear 0.5s;
	opacity: 1;
}
main-container .ng-leave-active {
	opacity: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.side-filters {
	min-width: 30%;
	background-color: #e7e7e7;
}

.main-container{
	background-color: #EFEFEF;
	min-height:100%;
}

.result-container {
	width: 100%;
	min-height:800px;
	background-color: white;
}

md-list-item {
	margin: 20px;
}

.colored-spin {
/* 	color: rgb(33,150,243); */
	color: white;
}

.small-checkbox {
	margin: 5px !important;
}
md-list-item .md-list-item-inner::before {
	min-height: 5px;
}

.small-margin {
	margin: 5px;
}


tr:nth-child(even) {background-color: #f2f2f2;}

.toolbar-button *{
	color: black;
}

.toolbar-button .icon {
	color: orange;
}

.landing {
	position: relative;
    color: white;
}

.landing-title {
	text-align: center;
	font-size: 2em;
	width: 100%;
	position: absolute;
    bottom: 75px;
}

.login-tools {
	top: 20px;
	position: absolute;
	right: 20px;
}

.login-tools .md-button {
	padding: 5px 20px;
}

.login-tools .md-button b{
	margin: 10px;
}

.progress{
  height: 40px;
}
.progress span{
  transition: all 500ms ease;
  background: #4A72DA;
  box-shadow: 1px 2px 3px #999;
  height: 10px;
  width: 10px;  
  display: inline-block;
  border-radius: 10px;
  animation: wave 2s ease  infinite;
}  

.progress span:nth-child(1){  animation-delay: 0; }
.progress span:nth-child(2){  animation-delay: 100ms; }
.progress span:nth-child(3){  animation-delay: 200ms; }
.progress span:nth-child(4){  animation-delay: 300ms; }
.progress span:nth-child(5){  animation-delay: 400ms; }
.progress span:nth-child(6){  animation-delay: 500ms; }
.progress span:nth-child(7){  animation-delay: 600ms; }
.progress span:nth-child(8){  animation-delay: 700ms; }

@keyframes wave{
  0%, 40%, 100% { 
    transform: translate(0, 0);
    background-color: #4A72DA;    
  }
  10% { 
    transform: translate(0, -15px); 
    background-color: red;    
  }  
}
