<div class="main-container">
	
	<div class="landing">
		<div class="login-tools">
			<div ng-if="user.loggedIn">
			      <a title="Hi, {{user.username}}" layout="row" layout-align="center center" href="#!profile" style="background-color: green; height: 40px; width: 40px; margin: 10px; border: 5px solid white; border-radius: 25px; color: white; text-decoration: none; display: inline-grid;">
			      	<b style="font-weight: 900%;">{{user.username | capitalise}}</b>
			      </a>
		      	<md-button href="#!logout" class="md-raised md-accent md-hue-3 toolbar-button" aria-label="Logout">
		         <i class="fas fa-exit" md-colors="{color:'primary'}"></i> <b>logout</b>
		       </md-button>
		      </div>
		      
		      <div ng-if="!user.loggedIn">
		       <md-button href="#!login" class="md-raised md-accent md-hue-3 toolbar-button" aria-label="Login">
		         <i class="fas fa-key" md-colors="{color:'primary'}"></i> <b>login</b>
		       </md-button>
		       <md-button href="#!register" class="md-raised md-accent md-hue-3 toolbar-button" aria-label="Register">
		         <i class="fas fa-sign-in-alt icon" md-colors="{color:'primary'}"></i> <b>register</b>
		       </md-button>
		      </div>
		</div>
		
		<img style="top:0px;" width="100%" src="images/landing.jpg">
		<div class="landing-title">
			<h1>SRA search</h1>
			<h2>Easy. Quick. Powerful.</h2>
		</div>
	</div>
	
</div>