<div layout="row" layout-align="start start" class="main-container">

	<div flex="25" layout="column" layout-align="start center" class="side-filters">
		<p><b>Filters</b>:</p>
		<div layout="column">
			<div ng-repeat="filter in filters">
		        <md-subheader class="md-no-sticky">{{filter.type}}</md-subheader>
		        <div class="small-margin" ng-repeat="value in filter.values">
		            <md-checkbox class="small-checkbox md-hue-3" aria-label="{{filter.type}} filter" ng-model="value.selected"></md-checkbox>
		            {{value.value}} ({{value.count}} exp.)
		        </div>
	        </div>
		</div>
	</div>
	
	<div flex layout="column" layout-align="start start" class="result-container" layout-padding>
		
		<div ng-if="search_finished">
			
			<p ng-if="result.length != undefined">
				<div><b ng-bind="result.length"></b> bioproject(s) found</div>
				<div><b>{{result | apply:get_experiments | concat | length}}</b> experiment(s)</div>
				<div><b>{{result | apply:get_experiments | concat | apply:get_runs | lengths | sum}}</b> sample(s)</div>
			</p>
			
			<p>
				<div><b ng-bind="result | filterApplier:filters | length"></b> bioprojects passed the filters</div>
				<div><b ng-bind="result | apply:get_experiments | concat | expFilterApplier:filters | length"></b> experiments passed the filters</div>
				<div><b ng-bind="result | apply:get_experiments | concat | expFilterApplier:filters | apply:get_runs | lengths | sum"></b> runs passed the filters</div>
			</p>
			
			<table>
				<thead>
					<tr>
						<th ng-click="sortTable('id')">ID <span ng-show="sortType == 'id'" class="{{sortReverse ? 'fa fa-caret-up' : 'fa fa-caret-down'}}"></span></th>
						<th ng-click="sortTable('paper_id')">Paper <span ng-show="sortType == 'paper_id'" class="{{sortReverse ? 'fa fa-caret-up' : 'fa fa-caret-down'}}"></span></th>
						<th ng-click="sortTable('organisms')">Organism(s) <span ng-show="sortType == 'organism'" class="{{sortReverse ? 'fa fa-caret-up' : 'fa fa-caret-down'}}"></span></th>
						<th ng-click="sortTable('number_experiments')">Experiment(s) <span ng-show="sortType == 'number_experiments'" class="{{sortReverse ? 'fa fa-caret-up' : 'fa fa-caret-down'}}"></span></th>
						<th ng-click="sortTable('number_runs')">Sample(s) <span ng-show="sortType == 'number_runs'" class="{{sortReverse ? 'fa fa-caret-up' : 'fa fa-caret-down'}}"></span></th>
						<th ng-click="sortTable('library_sources')">Library source(s) <span ng-show="sortType == 'library_sources'" class="{{sortReverse ? 'fa fa-caret-up' : 'fa fa-caret-down'}}"></span></th>
						<th ng-click="sortTable('library_layouts')">Library layout(s) <span ng-show="sortType == 'library_layouts'" class="{{sortReverse ? 'fa fa-caret-up' : 'fa fa-caret-down'}}"></span></th>
						<th ng-click="sortTable('platforms')">Platform(s) <span ng-show="sortType == 'platforms'" class="{{sortReverse ? 'fa fa-caret-up' : 'fa fa-caret-down'}}"></span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bioproject in result | filterApplier:filters | orderBy:sortFx:sortReverse">
						<td><a target="_blank" ng-href='https://www.ncbi.nlm.nih.gov/bioproject/{{bioproject.id}}'>{{ bioproject.id }}</a></td>
						<td><a target="_blank" ng-if="bioproject.paper_id" ng-href="https://www.ncbi.nlm.nih.gov/pubmed/{{bioproject.paper_id}}"><i class="fas fa-2x fa-file-pdf" style="color: red;"></i></a><i ng-if="!bioproject.paper_id" class="fas fa-2x fa-file-pdf" style="color: lightgrey;"></i></td>
						<td>{{ bioproject.experiments | apply:get_organism | concat | uniq | joinKeys:', ' }}</td>
						<td>{{ bioproject.experiments.length }}</td>
						<td>{{ bioproject.experiments | apply:get_runs | lengths | sum }}</td>
						<td>{{ bioproject.experiments | apply:get_library_source | concat | uniq | joinKeys:', ' || "N/A" }}</td>
						<td>{{ bioproject.experiments | apply:get_layouts | concat | uniq | joinKeys:', ' || "N/A" }}</td>
						<td>{{ bioproject.experiments | apply:get_platform | concat | uniq | joinKeys:', ' || "N/A"}}</td>
					</tr>
				</tbody>
			</table>
<!-- 			<md-list flex> -->
				
<!-- 				<div paging -->
<!-- 					  page="1"  -->
<!-- 					  page-size="10"  -->
<!-- 					  total="result | filterApplier:filters | length" -->
<!-- 					  paging-action="goToPage('Page clicked', result | filterApplier:filters, page, pageSize, total)"> -->
<!-- 	        	</div> -->
<!--         	</md-list> -->
		</div>
	</div>
</div>